<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <div class="container mt-5">
                        <div class="alert alert-danger">
                            <h4>Dostęp zabroniony</h4>
                            <p>Musisz się zalogować, aby dodać pojazd.</p>
                            <a href="login" class="btn btn-primary">Zaloguj się teraz</a>
                        </div>
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(Layout.MainLayout)">
                <p role="alert">Nie ma takiej strony (404).</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>